body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
}

.caixa {
	position: relative;
	width:  940px;
	margin:  0 auto;
}

nav {
	position: absolute;
	top: 125px;
	right: 0;
}

nav li {
	margin: 0 0 0 15px;
	display: inline;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: saddlebrown;
	text-decoration: underline;
}

.produtos {
	width:  940px;
	margin:  0 auto;
	padding:  50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width:  30%;
	vertical-align: top;
	margin:  0 1.5%;
	padding: 30px 20px;
	box-sizing:  border-box;
	border: 2px black solid;
	border-radius: 10px;
}

.produtos li:hover{
	border-color:  saddlebrown;
}

.produtos li:active {
	border-color: sandybrown;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produtosDescricao {
	font-size: 18px;
}

.produtosPreco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	background: url("images/bg.jpg");
	padding: 40px 0;
	text-align: center;
}

.copyright {
	color: white;
	font-size: 13px;
	margin-top: 20px;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.inputPadrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	font-size: 15px;
	width: 50%;
}

.inputCheckbox {
	margin: 20px 0;
}

.botaoEnviar {
	width: 40%;
	padding: 15px 0;
	color: white;
	font-size: 17px;
	font-weight:  bold;
	background: sandybrown;
	border:  none;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s all;
}

.botaoEnviar:hover {
	background: brown;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	font-size: 18px;
}

thead {
	background: gray;
	color: white;
	font-weight: bold;
}

td,th {
	padding: 15px;
	text-align: center;
	border: 1px solid black;
}

/*css da página principal*/

.banner {
	width: 100%;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.tituloPrincipal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.imagemUtensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE 10%, #888888);
}

.mapaConteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	text-align: center;
	margin: 0 0 2em;
}

.beneficios{
	padding: 3em 0;
	background: #888888;
}

.conteudoBeneficios {
	width: 640px;
	margin: 0 auto;
}

.listaBeneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "✪ ";
}

.imagemBeneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;	
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagemBeneficios:hover {
	opacity: 0.7;
}

.video {
	width: 560px;
	margin: 2em auto;
}