header {
	background: #BBBBBB;
}

.caixa {
	position: relative;
	width:  940px;
	margin:  0 auto;
}

nav {
	position: absolute;
	top: 125px;
	right: 0;
}

nav li {
	margin: 0 0 0 15px;
	display: inline;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: saddlebrown;
	text-decoration: underline;
}

.produtos {
	width:  940px;
	margin:  0 auto;
	padding:  50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width:  30%;
	vertical-align: top;
	margin:  0 1.5%;
	padding: 30px 20px;
	box-sizing:  border-box;
	border: 2px black solid;
	border-radius: 10px;
}

.produtos li:hover{
	border-color:  saddlebrown;
}

.produtos li:active {
	border-color: sandybrown;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produtosDescricao {
	font-size: 18px;
}

.produtosPreco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	background: url("images/bg.jpg");
	padding: 40px 0;
	text-align: center;
}

.copyright {
	color: white;
	font-size: 13px;
	margin-top: 20px;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.inputPadrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	font-size: 15px;
	width: 50%;
}

.inputCheckbox {
	margin: 20px 0;
}

.botaoEnviar {
	width: 40%;
	padding: 15px 0;
	color: white;
	font-size: 17px;
	font-weight:  bold;
	background: sandybrown;
	border:  none;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s all;
}

.botaoEnviar:hover {
	background: brown;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	font-size: 18px;
}

thead {
	background: gray;
	color: white;
	font-weight: bold;
}

td,th {
	padding: 15px;
	text-align: center;
	border: 1px solid black;
}